* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background: rgba(255, 255, 255, 1);
    border: 0px 0px 0px 1px inside;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1551px;
    height: 98px;
    margin: 0 auto;
    padding: 0 60px;
}

.logo img {
    width: 134px;
    height: 44px;
    left: -0.2px;
    top: 3px;
}

.links {
    display: flex;
    justify-content: space-between;
    max-width: 1320px;
    list-style: none;
    gap: 24px;
}

.links a {
    text-decoration: none;
    color: #575757;
}

.register-btn {
    padding: 4px;
    width: 192px;
    height: 56px;
    left: 1124.5px;
    top: -3.5px;
    border: none;
    border-radius: 12px;
    background: #1D4ED8;
    color: #FFFFFF;
    font-weight: bolder;
}